body {
	background-color: #f2f2f2;
}

.password{}
.jumbotron{
   background: url() no-repeat center top;
   background-image: url("C:/Users/Ronald/dotnet-intro/images/IMG_0143.JPG");
   background-position-x: center;
   background-position-y: center;
   background-size: cover;
   background-repeat-x: no-repeat;
   background-repeat-y: no-repeat;
   background-origin: initial;
   background-clip: initial;
   background-color: initial;
   padding-top: 5px;
   background-attachment: relative;
   background-position: center center;
   min-height: 700px;
   width: 100%;
   -webkit-background-size: 100%;
   -moz-background-size: 100%;
   -o-background-size: 100%;
   background-size: 100%;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: #DFDFDF ;
   }
